{% extends 'layout.html.twig' %}

{% block body %}
<section class="section-padding blog-section">
    <div class="container">
        <div class="text-center">
            <h2>La flemme ^^</h2>
            <span>Sérieusement utilise simplement les identifiants : <strong>guest / guest</strong></span>
            <br />
            <a href="/connexion">Allez hop !</a>
        </div>
    </div>
</section>  
{% endblock %}